<%-include('header')-%>
<div>
    <h1>Compose</h1>
    <form action="/compose" method="post">
        <label for="title">Title</label><br>
        <input class="form-control " type="text" placeholder="Enter Title" id="blogtit" name="inpblogtit"><br>
        <label for="Text">Text</label><br>
        <textarea class="form-control"  placeholder="Enter Text to the blog" id="blogin" name="inpblog" rows="5" cols="50"></textarea>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

   
    
</div>



<%-include('footer')-%>