<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Daily Journal</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles2.css">
    <script src="https://kit.fontawesome.com/a44983f1c0.js" crossorigin="anonymous"></script>
</head>


<body>
    <div class="container">

        <a href="http://localhost:3000/login" class="link">Log in</a>
        <a href="http://localhost:3000/signup" class="link">SignUp</a>
    </div>
    <form action="/signup" method="post">
        <div class="frm">
            <label>Signup </label>
            <a type="button" href="http://localhost:3000" class="cancelbtn"> <i class="fa-solid fa-x"></i></a><br>
            <label>Username : </label>
            <input type="text" placeholder="Enter Username" name="new_username" required> <br>
            <label>Password : </label>
            <input type="password" placeholder="Enter Password" name="new_password" required><br>
            <label class="conflabel"> Confirm<br> Password : </label>
            <input type="password" placeholder="Confirm  Password" name="confpassword" required><br>

            <button type="submit" class="logn">Signup</button> <br>
            
        </div>
    </form>

    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>